<div id="myModal" class="modal fade" role="dialog" data-toggle="modal"
     (close)="closeForm()"
     style="height:100%; position:absolute; z-index: 5; width: 100%; top: 0; background-color:rgba(255,255,255,0.7);">
  <div class="modal-dialog" style="width:90%;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="height:63px;">
        <button type="button" class="close" data-dismiss="modal" (click)="onCancel($event)">&times;</button>
        <h4 class="modal-title">  {{'Add new user'}}</h4>
      </div>
      <div class="modal-body customModalBody">
        <ul class="nav nav-tabs">
          <li class="active">
            <a class="tabTitle" data-toggle="tab" href="info">Contact Info</a>
          </li>
          <li>
            <a class="tabTitle" data-toggle="tab" href="#credentials">Credentials</a>
          </li>
          <li>
            <a class="tabTitle" data-toggle="tab" href="#roles">Roles</a>
          </li>
          <li>
            <a class="tabTitle" data-toggle="tab" href="#notes">Notes</a>
          </li>
        </ul>
        <div class="container tab-content" style="background-color:#f6f6f6; height:70vh; width:100%; padding-left:40px;">
          <div id="info" class="tab-pane fade in active">
            <br>
            <div class="formHeader">General Information</div>
            <div class="detailContainer">
              <div class="row editFormRow">
                <input type="hidden" name="Id" />
                <input type="hidden" name="tenantId" />
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel" id="identifier">First Name:</div>
                    <input class="editFormInput"/>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel" id="name">Work#:</div>
                    <input class="editFormInput"/>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Address 1:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
              </div>
              <div class="row editFormRow">
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Last Name:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Home#:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Address 2:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
              </div>
              <div class="row editFormRow">
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Cell#:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">City:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
              </div>
              <div class="row editFormRow">
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">State:</div>
                    <select class="editFormInput" id="state" name="state" >
                      <option value="AL">AL</option>
                      <option value="AK">AK</option>
                      <option value="AR">AR</option>
                      <option value="AZ">AZ</option>
                      <option value="CA">CA</option>
                      <option value="CO">CO</option>
                      <option value="CT">CT</option>
                      <option value="DC">DC</option>
                      <option value="DE">DE</option>
                      <option value="FL">FL</option>
                      <option value="GA">GA</option>
                      <option value="HI">HI</option>
                      <option value="IA">IA</option>
                      <option value="ID">ID</option>
                      <option value="IL">IL</option>
                      <option value="IN">IN</option>
                      <option value="KS">KS</option>
                      <option value="KY">KY</option>
                      <option value="LA">LA</option>
                      <option value="MA">MA</option>
                      <option value="MD">MD</option>
                      <option value="ME">ME</option>
                      <option value="MI">MI</option>
                      <option value="MN">MN</option>
                      <option value="MO">MO</option>
                      <option value="MS">MS</option>
                      <option value="MT">MT</option>
                      <option value="NC">NC</option>
                      <option value="NE">NE</option>
                      <option value="NH">NH</option>
                      <option value="NJ">NJ</option>
                      <option value="NM">NM</option>
                      <option value="NV">NV</option>
                      <option value="NY">NY</option>
                      <option value="ND">ND</option>
                      <option value="OH">OH</option>
                      <option value="OK">OK</option>
                      <option value="OR">OR</option>
                      <option value="PA">PA</option>
                      <option value="RI">RI</option>
                      <option value="SC">SC</option>
                      <option value="SD">SD</option>
                      <option value="TN">TN</option>
                      <option value="TX">TX</option>
                      <option value="UT">UT</option>
                      <option value="VT">VT</option>
                      <option value="VA">VA</option>
                      <option value="WA">WA</option>
                      <option value="WI">WI</option>
                      <option value="WV">WV</option>
                      <option value="WY">WY</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-z formCol" style="margin-left:22px;">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Zip Code:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="credentials" class="tab-pane fade">
            <br>
            <div class="formHeader">Credentials</div>
            <div class="detailContainer">
              <div class="row editFormRow">
                <input type="hidden" name="Id"  />
                <input type="hidden" name="tenantId"  />
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel" id="identifier">First Name:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel" id="name">Work#:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Address 1:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
              </div>
              <div class="row editFormRow">
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Last Name:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Home#:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Address 2:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
              </div>
              <div class="row editFormRow">
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Cell#:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">City:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
              </div>
              <div class="row editFormRow">
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">State:</div>
                    <select class="editFormInput" id="state" name="state" >
                      <option value="AL">AL</option>
                      <option value="AK">AK</option>
                      <option value="AR">AR</option>
                      <option value="AZ">AZ</option>
                      <option value="CA">CA</option>
                      <option value="CO">CO</option>
                      <option value="CT">CT</option>
                      <option value="DC">DC</option>
                      <option value="DE">DE</option>
                      <option value="FL">FL</option>
                      <option value="GA">GA</option>
                      <option value="HI">HI</option>
                      <option value="IA">IA</option>
                      <option value="ID">ID</option>
                      <option value="IL">IL</option>
                      <option value="IN">IN</option>
                      <option value="KS">KS</option>
                      <option value="KY">KY</option>
                      <option value="LA">LA</option>
                      <option value="MA">MA</option>
                      <option value="MD">MD</option>
                      <option value="ME">ME</option>
                      <option value="MI">MI</option>
                      <option value="MN">MN</option>
                      <option value="MO">MO</option>
                      <option value="MS">MS</option>
                      <option value="MT">MT</option>
                      <option value="NC">NC</option>
                      <option value="NE">NE</option>
                      <option value="NH">NH</option>
                      <option value="NJ">NJ</option>
                      <option value="NM">NM</option>
                      <option value="NV">NV</option>
                      <option value="NY">NY</option>
                      <option value="ND">ND</option>
                      <option value="OH">OH</option>
                      <option value="OK">OK</option>
                      <option value="OR">OR</option>
                      <option value="PA">PA</option>
                      <option value="RI">RI</option>
                      <option value="SC">SC</option>
                      <option value="SD">SD</option>
                      <option value="TN">TN</option>
                      <option value="TX">TX</option>
                      <option value="UT">UT</option>
                      <option value="VT">VT</option>
                      <option value="VA">VA</option>
                      <option value="WA">WA</option>
                      <option value="WI">WI</option>
                      <option value="WV">WV</option>
                      <option value="WY">WY</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-z formCol" style="margin-left:22px;">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Zip Code:</div>
                    <input class="editFormInput"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="roles" class="tab-pane fade">
            <br>
            <div class="formHeader">Roles</div>
            <div class="detailContainer">
              <div class="row editFormRow">
                <input type="hidden" name="Id"  />
                <input type="hidden" name="tenantId"  />
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel" id="identifier">First Name:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel" id="name">Work#:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Address 1:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
              </div>
              <div class="row editFormRow">
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Last Name:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Home#:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Address 2:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
              </div>
              <div class="row editFormRow">
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Cell#:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">City:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
              </div>
              <div class="row editFormRow">
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">State:</div>
                    <select class="editFormInput" id="state" name="state" >
                      <option value="AL">AL</option>
                      <option value="AK">AK</option>
                      <option value="AR">AR</option>
                      <option value="AZ">AZ</option>
                      <option value="CA">CA</option>
                      <option value="CO">CO</option>
                      <option value="CT">CT</option>
                      <option value="DC">DC</option>
                      <option value="DE">DE</option>
                      <option value="FL">FL</option>
                      <option value="GA">GA</option>
                      <option value="HI">HI</option>
                      <option value="IA">IA</option>
                      <option value="ID">ID</option>
                      <option value="IL">IL</option>
                      <option value="IN">IN</option>
                      <option value="KS">KS</option>
                      <option value="KY">KY</option>
                      <option value="LA">LA</option>
                      <option value="MA">MA</option>
                      <option value="MD">MD</option>
                      <option value="ME">ME</option>
                      <option value="MI">MI</option>
                      <option value="MN">MN</option>
                      <option value="MO">MO</option>
                      <option value="MS">MS</option>
                      <option value="MT">MT</option>
                      <option value="NC">NC</option>
                      <option value="NE">NE</option>
                      <option value="NH">NH</option>
                      <option value="NJ">NJ</option>
                      <option value="NM">NM</option>
                      <option value="NV">NV</option>
                      <option value="NY">NY</option>
                      <option value="ND">ND</option>
                      <option value="OH">OH</option>
                      <option value="OK">OK</option>
                      <option value="OR">OR</option>
                      <option value="PA">PA</option>
                      <option value="RI">RI</option>
                      <option value="SC">SC</option>
                      <option value="SD">SD</option>
                      <option value="TN">TN</option>
                      <option value="TX">TX</option>
                      <option value="UT">UT</option>
                      <option value="VT">VT</option>
                      <option value="VA">VA</option>
                      <option value="WA">WA</option>
                      <option value="WI">WI</option>
                      <option value="WV">WV</option>
                      <option value="WY">WY</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-z formCol" style="margin-left:22px;">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Zip Code:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="notes" class="tab-pane fade">
            <br>
            <div class="formHeader">Notes</div>
            <div class="detailContainer">
              <div class="row editFormRow">
                <input type="hidden" name="Id"  />
                <input type="hidden" name="tenantId"  />
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel" id="identifier">First Name:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel" id="name">Work#:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Address 1:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
              </div>
              <div class="row editFormRow">
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Last Name:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Home#:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Address 2:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
              </div>
              <div class="row editFormRow">
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Cell#:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">City:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
              </div>
              <div class="row editFormRow">
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 formCol">
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">State:</div>
                    <select class="editFormInput" id="state" name="state" >
                      <option value="AL">AL</option>
                      <option value="AK">AK</option>
                      <option value="AR">AR</option>
                      <option value="AZ">AZ</option>
                      <option value="CA">CA</option>
                      <option value="CO">CO</option>
                      <option value="CT">CT</option>
                      <option value="DC">DC</option>
                      <option value="DE">DE</option>
                      <option value="FL">FL</option>
                      <option value="GA">GA</option>
                      <option value="HI">HI</option>
                      <option value="IA">IA</option>
                      <option value="ID">ID</option>
                      <option value="IL">IL</option>
                      <option value="IN">IN</option>
                      <option value="KS">KS</option>
                      <option value="KY">KY</option>
                      <option value="LA">LA</option>
                      <option value="MA">MA</option>
                      <option value="MD">MD</option>
                      <option value="ME">ME</option>
                      <option value="MI">MI</option>
                      <option value="MN">MN</option>
                      <option value="MO">MO</option>
                      <option value="MS">MS</option>
                      <option value="MT">MT</option>
                      <option value="NC">NC</option>
                      <option value="NE">NE</option>
                      <option value="NH">NH</option>
                      <option value="NJ">NJ</option>
                      <option value="NM">NM</option>
                      <option value="NV">NV</option>
                      <option value="NY">NY</option>
                      <option value="ND">ND</option>
                      <option value="OH">OH</option>
                      <option value="OK">OK</option>
                      <option value="OR">OR</option>
                      <option value="PA">PA</option>
                      <option value="RI">RI</option>
                      <option value="SC">SC</option>
                      <option value="SD">SD</option>
                      <option value="TN">TN</option>
                      <option value="TX">TX</option>
                      <option value="UT">UT</option>
                      <option value="VT">VT</option>
                      <option value="VA">VA</option>
                      <option value="WA">WA</option>
                      <option value="WI">WI</option>
                      <option value="WV">WV</option>
                      <option value="WY">WY</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-z formCol" style="margin-left:22px;">
                  <div class="inputLabelContainer">
                    <div class="inputLabel">Zip Code:</div>
                    <input class="editFormInput"  />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer customModalFooter">
        <div class="row">
          <button type="button" class="btn btn-default cancelBtn" data-dismiss="modal" (click)="onCancel($event)">CANCEL</button>
          <button type="button" class="btn btn-default closeBtn" data-dismiss="modal" (click)="onSave($event)">SAVE
            <!-- *ngIf="writePermission" -->
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
