<div class="products">
  <div class="products_heading">
    <div class="products_heading--header">Products
    </div>
    <div class="products_heading--search">
      <div class="inner-addon right-addon products_heading--search-box">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" id="txtSearchString" class="k-textbox form-control" placeholder="Search" (input)="onProductIdSearch($event)">
      </div>
      <div class="products_heading--addProduct">
        <a class="products_heading--addProduct-icon" (click)="addHandler()">
          <img src="../assets/images/SVG/add_product_btn.svg">
        </a>
      </div>
    </div>
  </div>


  <div class="products_grid">
    <kendo-grid id="grid" class="kgrid" [data]="gridData" [selectable]="true" (cellClick)="editClick($event)" [height]="750">
      <kendo-grid-checkbox-column showSelectAll="true " width="68" [headerStyle]="{ 'text-align': 'center', 'vertical-align': 'middle'} "
                                  [style]="{ 'text-align': 'center', 'vertical-align': 'middle'} ">

      </kendo-grid-checkbox-column>
      <kendo-grid-column field="label" title="Product" width="348" [headerStyle]="{ 'font-size': '14px', 'color': '#131313', 'height': '52px', 'text-transform': 'uppercase', 'text-align': 'center', 'vertical-align': 'middle'}
            " [style]="{ 'color': '#5bb6ff', 'height': '50px', 'vertical-align': 'middle', 'cursor':'pointer', 'font-weight':'bold', 'font-size':'16px', 'padding-left':'18px'} ">
      </kendo-grid-column>
      <kendo-grid-column field="productId" title="ID " width="127" [headerStyle]="{ 'font-size': '14px', 'color': '#131313', 'height': '52px', 'text-transform': 'uppercase', 'text-align': 'center', 'vertical-align':
            'middle'} " [style]="{ 'color': '#52545e', 'height': '50px', 'vertical-align': 'middle', 'font-size':'16px', 'padding-left':'18px'} ">
      </kendo-grid-column>
      <kendo-grid-column field="productName" title="Name " width="390" [headerStyle]="{ 'font-size': '14px', 'color': '#131313', 'height': '52px', 'text-transform': 'uppercase', 'text-align': 'center', 'vertical-align':
            'middle'} " [style]="{'color': '#52545e', 'height': '50px', 'vertical-align': 'middle', 'font-size':'16px', 'padding-left':'18px'} ">
      </kendo-grid-column>
      <kendo-grid-column field="groupName" type="email " title="Group " width="175" [headerStyle]="{ 'font-size': '14px', 'color': '#131313', 'height': '52px', 'text-transform': 'uppercase', 'text-align': 'center',
            'vertical-align': 'middle'} " [style]="{'color': '#52545e', 'height': '50px', 'vertical-align': 'middle', 'font-size':'16px', 'padding-left':'18px'} ">
      </kendo-grid-column>
      <kendo-grid-column field="modifiedDate" title="Date " width="222" [headerStyle]="{ 'font-size': '14px', 'color': '#131313', 'height': '52px', 'text-transform': 'uppercase', 'text-align': 'center',
            'vertical-align': 'middle'} " [style]="{'color': '#52545e', 'height': '50px', 'vertical-align': 'middle', 'font-size':'16px', 'padding-left':'18px'} ">
      </kendo-grid-column>
    </kendo-grid>

  </div>
</div>
